<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ../../Styles/main.css
            include ../../Styles/header.css
            include ../../Styles/pagination.css
        title Admin Shop
    body
        include ../includes/header        
        main
            h1 Admin Section
            if products.length > 0
                section
                    each item in products
                        div(class='product-item')
                            h4 #{ item.title }
                            p #{item.price}
                            p #{item.description}
                            img(src=item.imageURL, alt=item.title)
                            br
                            div(class='control-buttons')
                                form(action="edit-product", method="GET")
                                    input(type="hidden" name='id' value=item. _id)
                                    input(type="hidden" name='price' value=item.price)
                                    input(type="hidden" name='description' value=item.description)
                                    input(type="hidden" name='title' value=item.title)
                                    input(type="hidden" name='imageURL' value=item.imageURL)
                                    input(type="hidden", name="_csrf" value="scrfToken")
                                    button(type="submit") EDIT
                                form(action="/delete-product", method="POST")
                                    input(type="hidden" name='id' value=item._id)
                                    input(type="hidden" name='imageURL' value=item.imageURL)
                                    input(type="hidden", name="_csrf" value=csrfToken)
                                    button(type="submit") DELETE
                include ../includes/pagination        
            else
                p No Products